.hyperlinks {
    transition-timing-function: 'ease-out',
}
.hyperlinks a{
    color: #3a3a3a;
    position: fixed;
    z-index: 1000;
    font-size: 45px;
    font-family: 'Londrina Outline';
    letter-spacing: 3;
    text-decoration: 'none';
    margin: 20px;
    transition: '1s';
}
a.hyperlinks-nav:hover {
    font-family: 'Londrina Solid', cursive !important;
    color: #8c8973 !important;
}
.hyperlinks #up-left{
    left: 0;
    float:left;
    top: 0;
}
.hyperlinks #up-right{
    right: 0;
    float:right;
    top: 0;
}
.hyperlinks #down-left{
    left: 0;
    float:left;
    bottom: 0;
}
.hyperlinks #down-right{
    right: 0;
    bottom: 0;
    float:right;
}
.text-2 img, .text-3 img, .text-4 img{
    width: 15px;
    z-index: 1000;
}
.text-1 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: bold;
    letter-spacing: 1px !important;
    font-size: 15px !important;
    top: 30px;
    left: 50%;
    margin-left: -67px !important;
}
.text-1 a {
    text-decoration: none !important;
    color: black;
}
.text-2{
    left: 0px;
    top:50%;
}
.text-3{
    right: 0px;
    top:50%;
}
.text-4{
    left: 50%;
    bottom: 0px;    
}
.text-4 img {
    margin-left: -27.5px;
}
@media screen and (max-width: 700px) { 
    .hyperlinks a{
        font-size: 35px;
    }
    #external-links {
        visibility: hidden;
    }
}