.hyperlinks {
    transition-timing-function: 'ease-out';
}
.hyperlinks-top {
    background-color: #eceae9;
    height:88.5px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}
.hyperlinks-bottom {
    background-color: #eceae9;
    height:87px;
    bottom:0;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
.hyperlinks a{
    color: #3a3a3a;
    position: fixed;
    z-index: 1000;
    font-size: 45px;
    font-family: 'Londrina Outline';
    letter-spacing: 3;
    text-decoration: 'none';
    transition: '1s';
    background-color:#eceae9;
}
a.hyperlinks-nav:hover {
    font-family: 'Londrina Solid', cursive !important;
    color: #8c8973 !important;
}
.hyperlinks #up-left{
    left: 0;
    float:left;
    top: 0;
    margin: 20px;
}
.hyperlinks #up-right{
    right: 0;
    float:right;
    top: 0;
    margin: 20px;
}
.hyperlinks #down-left{
    left: 0;
    float:left;
    bottom: 0;
    margin: 20px;
}
.hyperlinks #down-right{
    right: 0;
    bottom: 0;
    float: right;
    margin: 20px;
}
.text-2 img, .text-3 img, .text-4 img{
    width: 15px;
    z-index: 1000;
}
.text-1 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: bold;
    letter-spacing: 1px !important;
    font-size: 15px !important;
    top: 30px;
    left: 50%;
    margin-left: -67px !important;
    margin-top: 20px;
}
.text-1 a, .text-5 a {
    text-decoration: none !important;
    color: black;
}
.text-2{
    left: 0px;
    top:50%;
    padding-left: 20px;
    background-color: transparent !important;
}
.text-3{
    right: 0px;
    top:50%;
    padding-right: 20px;
    background-color: transparent !important;
}
.text-4{
    left: 50%;
    bottom: 0px;
    padding-bottom: 20px;   
}
.text-4 img {
    margin-left: -7px;
}
.text-5 {
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: bold;
    letter-spacing: 1px !important;
    font-size: 15px !important;
    bottom: 0;
    left: 50%;
    margin-left: -20px !important;
    visibility: hidden;
    padding-bottom: 15px;
}
#small-device-home {
    visibility: none;
}
@media screen and (max-width: 700px) { 
    .hyperlinks a{
        font-size: 35px;
    }
    #external-links {
        visibility: hidden;
    }
    .text-5 {
        visibility: visible !important;
    }
}