.project-page {
    text-align: center;
    margin-top: 100px;
}
.project-page h1{
    position: fixed;
    margin-left: 10vw !important;
    font-family: 'Forum';
    font-size: 70px;
    color: #906fa8;
}
.project-page-landing {
    width: 100%;
    display:flex;
    transition: ease-in;
}
.project-page-landing div, .project-page-landing span  {
    margin-top: 100px;
    margin-right: 100px;
}
.front-picture {
    min-width: 50%;
    text-align: right;
    margin-right: 20px !important;
}
.front-picture img{
    height: 50vh;
    width: auto;
    margin-right: 2vw !important;
}
.project-info {
    height: 330px;
    text-align: left;
    position: relative;
    min-width: 50%;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin-right: -20px !important;
}
.project-info h3 {
    font-family: 'Forum';
    font-size: 17px;
}
.project-info p  {
    width: 37vw;
    text-align: justify;
}
.img2 {
    height: 50vh;
    display: inline-block;
}
.detail-info {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    min-width: 40vw;
    text-align: center;
    margin-top: 0px !important;
}
.detail-info p {
    margin-top: 100px;
    text-align: justify;
    width: 600px;
}
.detail-info {
    text-align: center;
}
.info03 h2 {
    font-weight: bold;
    font-family: 'Forum';
    font-size: 17px;
    padding-top: 2vh;
}
.img3 {
    display: block;
    margin: 0 auto;
    padding-top: 3vh;
    max-width: 35vw;
    height: auto;
}
#last-picture {
    padding-right: 100px;
}

@media screen and (min-height: 630px) and (max-width: 1590px) {
    .project-page h1{
        position: relative;
        text-align: center;
        margin-left: 0px !important;
  }
  .project-page-landing {
    display: block;
  }
    .project-page-landing div, .project-page-landing span {
        margin-right: 0px !important;
    }
    .front-picture, .project-info, .img2 {
        text-align: center;
        float: none;
    }
    .front-picture img {
        margin-right: 0px !important;
    }
    .project-info p, .detail-info p {
        margin: 0 auto;
    }
    .img2 {
        display: block;
        margin: 0 auto;
    }
    #last-picture {
        padding: 0px;
        margin-bottom: 150px;
    }
}
@media screen and (max-width: 1200px) and (max-height: 630px){
    .project-page h1{
        position: relative;
        text-align: center;
        margin-left: 0px !important;
  }
  .project-page-landing {
    display: block;
  }
    .project-page-landing div, .project-page-landing span {
        margin-right: 0px !important;
    }
    .front-picture, .project-info, .img2 {
        text-align: center;
        float: none;
    }
    .front-picture img {
        margin-right: 0px !important;
    }
    .project-info p, .detail-info p {
        margin: 0 auto;
    }
    .img2 {
        display: block;
        margin: 0 auto;
    }
    #last-picture {
        padding: 0px;
        margin-bottom: 150px;
    }
}
@media screen and (max-width: 700px) { 
    .project-page h1{
        font-size: 30px;
    }
    .project-page-landing div, .project-page-landing span {
        margin: 40px !important;
        margin-bottom: 0px !important;
    }
    .front-picture img {
        width: 70vw;
        height: auto;
    }
    .project-info {
        height: 280px;
    }
    .img2 {
        width: 70vw;
        height: auto;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    .img3 {
        max-width: 80vw !important;
        height: auto;
    }
    .project-info p{
        width: 80vw;
        padding-bottom: 40px;
    }
    .detail-info p {
        width: 80vw;
    }
    #scroll-text {
        visibility: hidden;
    }

}