.hyperlinks-nav:hover {
    font-family: 'Londrina Solid', cursive !important;
}
.hyperlinks #up-left{
    left: 0;
    float:left;
    top: 0;
    :hover {
        color: pink !important;
    }
}
.hyperlinks #up-right{
    right: 0;
    float:right;
    top: 0;
}
.hyperlinks #down-left{
    left: 0;
    float:left;
    bottom: 0;
}
.hyperlinks #down-right{
    right: 0;
    bottom: 0;
    float:right;
}
