body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #ced3cf;
    color: black;
}
:root {
    scrollbar-color: #000000 #F5F5F5 !important;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border: 1px solid black;
	background-color: #F5F5F5; 
    border-radius: 10px;
    margin: 0 400px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #000000; 
}