.projects:hover {
    transition-timing-function: ease-in;
}
a.project-link:hover {
    color: #906fa8 !important;
}
.projectImg {
    width: 300px;
    height: 300px;
    margin: 0;
    display: block;
    filter: grayscale(100%);
    border: 1px solid black;
    transition: 1s;
}
.projectImg img {
    width: 370px;
    height: 300px;
}
.projectImg:hover {
    filter: grayscale(0%);
}