.section #up-left {
    float: left;
    background-color: yellow;
    width: 500px;
    height: 500px;
    offset-path: path('M 0,200 Q 200,200 260,80 Q 290,20 400,0 Q 300,100 400,200');
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.2);
}
.section #up-right {
    float: right;
    background-color: red;
    width: 200px;
    height: 200px;
    offset-path: path('M 80 80 m 40, 20 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0');
    box-shadow: -10px 5px 20px rgba(0, 0, 0, 0.2);
}
.section #down-left {
    float: left;
    position:absolute;
    background-color: skyblue;
    bottom: 0;
    left: 0;
    width: 270px;
    height: 270px;
    offset-path: path('M 100 200 m 40, 20 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0');
    box-shadow: -10px -5px 20px rgba(0, 0, 0, 0.2);
}
.section #down-right {
    float: right;
    position:absolute;
    background-color: green;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    offset-path: path('M 80 80 m 40, 20 a 4,4 0 1,0 8,0 a 4,4 0 1,0 -8,0');
    box-shadow: 10px -5px 20px rgba(0, 0, 0, 0.2);
}
@keyframes move {
  100% { 
    motion-offset: 100%;
    offset-distance: 100%;
  }
}